.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.column {
    width: 25%;
    float: left;
}

#columnLeft {
    padding-left: 30%;
}

.left {
    left: 0;
    background-color: lightgoldenrodyellow;
}

.right {
    right: 0;
    background-color: lightgoldenrodyellow;
}

.itemPrice {
    padding-left: 15%;
}

table, td, th, tr {
    border: 1px solid black;
    border-collapse: collapse;
}
