body {
    background-color: darkgreen;
    color: white;
    margin: 0;
}

h2 {
    text-align: center;
}

#remaining-cards {
    visibility: hidden;
    text-align: center;
}


/* inputs container area */
#inputs-container {
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.outline {
    outline-color: lightseagreen;
    background-color: lightblue;
}

#generate-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


button {
    height: 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: lightseagreen;
}

button:hover {
    background-color: cornflowerblue;
}

button:active {
    background-color: blueviolet;
    color: white;
}

button:disabled {
    background-color: lightslategray;
    color: darkslategrey;
}

#button-area {
    display: flex;
    justify-content: space-between;
}

#button-area button {
    width: 45%;
}

button#generate-deck {
    border: none;
    outline: none;
    border-radius: 5px;
}

label {
    display: block;
}

input[type="number"] {
    width: inherit;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* cards-table area */
#cards-table {
    background-color: darkgreen;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.cards-details {
    min-width: 200px;
}

img {
    width: 153px;
    height: 197px;
}

.card-title {
    text-align: center;
    font-weight: bold;
    margin-top: 20px
}


@media screen and (min-width: 280px) and (max-width: 395px) {

    /* inputs container area */
    #inputs-container {
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    #generate-container {
        width: 75%;
    }

    #draw-container {
        display: flex;
        flex-direction: column;
        width: 75%;
    }

    #button-area {
        justify-content: space-between;
    }

    button {
        margin-bottom: 10px;
    }

    button#generate-deck {
        width: 100%;
        margin-bottom: 20px;
    }

    label {
        display: none;
    }

    input[type="number"] {
        width: 97%;
        margin-top: 0;
    }


    /* cards-table area */
    img {
        width: 113px;
        height: 157px;
    }

    .card-title {
        font-size: 14px;
        font-weight: bolder;
        text-align: center;
        margin-top: 20px
    }
}