h1 {
    text-align: center;
}

/* inputs container area */
#inputs-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

#generate-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#button-area {
    display: flex;
    justify-content: space-between;
}

#button-area button {
    width: 45%;
}

label {
    display: block;
}

input[type="number"] {
    margin-top: 5px;
    margin-bottom: 10px;
}


/* cards-table area */
#cards-table {
    display: flex;
}

#cards-table div {
    flex-wrap: wrap;
}